extends ../layouts/Main

block header
    h1 I'm header

block content
    h2 I'm content
    div
        label(for="txtUsername") Your name:
        input(type="text", name="txtUsername")#txtUsername
        label(for="txtPassword") Password:
        input(type="text", name="txtPassword")#txtPassword
        button(type="button").btn.btn--l.btn--raised Login

block footer
    h3 I'm footer

block scripts
    script(src="../app.js")