//- ng-repeat
doctype html
html
    head
        title Show/Hide
        script(src="../vendor/angular/angular.js")
        script(src="MainController.js")
    body(ng-app="app", ng-controller="MainController")

        ul
            li(ng-repeat="p in products")  {{ p.name }} [{{ p.qty }}]