//- One-way/Two-way data binding
doctype html
html
    head
        title Hello world
        script(src="../vendor/angular/angular.js")
        script(src="controller.js")

    body(ng-app="app", ng-controller="MainCtrl")
        label(for="txtName") Your name:
        input(type="text", ng-model="name")
        span {{ name }}
        //- Use directive
        h1(ng-bind="name")