//- ng-repeat
doctype html
html
    head
        title Directive
        script(src="../vendor/angular/angular.js")
        script(src="Directive.js")
    body(ng-app="app")

        div.hello(name="Satit Rianpit")