doctype html
html(lang="en")
    head
        meta(charset="utf8")
        title Template basic
    body
        h1 I'm template
        block header
        block content
        block footer

    block scripts